{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<head>
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game1.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static '/images/site.webmanifest' %}">

    <script type="text/css" src="{% static 'css/game1.css' %}"></script>


<style>
    body {
         background-image: url("{% static 'images/background.jpg' %}")
    }
</style>

<title>Spac3 Shooter | MySpac3</title>
</head>
<script>
    const spaceship_img = "{% static 'images/game1/spaceship.png' %}"
    const button_img = "{% static 'images/game1/button.png' %}"
    const invader_img = "{% static 'images/game1/invader.png' %}"
    const startScreenBackground_img = "{% static 'images/game1/startScreenBackground.png' %}"
</script>

<body>

<audio id="audio" autoplay="true" muted="true" src="{% static 'audio/game_music' %}/{{ song_path }}"> </audio>

<div class="game-intro" id="game-welcome">

    <h1>Welcome: Let us take you to Space</h1>

    <div id="start-screen" class="screen" style="display: block">
        <div class="box">
                <button id="startButton" onclick="startGame()">Play</button>
        </div>
    </div>

</div>
    <div id="gameNav" style="display: none; position: relative;">
    <p
        style="position: absolute; z-index: 10;
        color: white; left: 10px; top: 10px;
        margin: 0"
    >
    <span>Score:</span> <span id="scoreEl">0</span>
    </p>
    <a
        style="position: absolute; z-index: 10;
        color: white; left: 200px; top: 10px;
        margin: 0"
        href="{% url 'home' %}"
    >
        <span>Home</span>
    </a>
    <button class="specialButton"
        style="position: absolute; z-index: 10;
        color: white; background-color: darkblue;
        left: 250px; top: 10px;
        margin: 0" id="mute"
    >Mute</button>
    <button class="specialButton"
        style="position: absolute; z-index: 10;
        color: white; background-color: darkblue;
        left: 250px; top: 10px;
        margin: 0" id="unmute"
    >Unmute</button>


    <canvas id="canvas" style="display: none"></canvas>
</div>
    <div id="gameover-screen" class="screen" style="display: none">
        <h1>Game Over</h1>
        <a href="{% url 'game1' %}">
            <button>Restart</button>
        </a>
        <hr>
        <a href="{% url 'home' %}">
            <button>Home</button>
        </a>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/game1.js' %}"></script>
