{% load static %}

<head>
    <meta name="viewport" content="user-scalable=no">
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game2.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static '/images/site.webmanifest' %}">

    <script type="text/css" src="{% static 'css/game2.css' %}"></script>


<title>Pong | MySpac3</title>
</head>

<body style="background: #32343E">

    <canvas id="canvas"></canvas>

</body>
<script type="text/javascript" src="{% static 'js/game2.js' %}"></script>
