{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game1.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static '/images/site.webmanifest' %}">

    <script type="text/css" src="{% static 'css/game1.css' %}"></script>

<style>
    body {
         background-image: url("{% static 'images/background.jpg' %}")
    }
</style>

<title>GAME 1 | MySpac3</title>
</head>


<body>

<div class="game-intro" id="game-welcome">
    <div id="start-screen" class="screen" style="display: block;">
            <h2><strong>You have no balance in your account</strong></h2>
            <a href="{% url 'game1' %}"><h2><strong>Play without flying</strong></h2></a>
            <a href="{% url 'payment' %}"><h2><strong>Pay then fly</strong></h2></a>
    </div>
</div>

</body>

<script>
    const spaceship_img = "{% static 'images/game1/spaceship.png' %}"
    const button_img = "{% static 'images/game1/button.png' %}"
    const invader_img = "{% static 'images/game1/invader.png' %}"
    const startScreenBackground_img = "{% static 'images/game1/startScreenBackground.png' %}"

</script>

<script type="text/javascript" src="{% static 'js/game1intro.js' %}"></script>
